<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h2 class="footer">{{title}}</h1>
    <div class="nav1">
        <a href="/">Home</a>
        <a href="/service">Service</a>
        <a href="/team">Team</a>
        <a href="/details">Details</a>
        <a href="/conect">Conect</a>
    </div>
</body>

</html>